 
/* =========================
   CANELA — PRIMARY SERIF
   ========================= */

   @font-face {
    font-family: "Canela";
    src: url("/fonts/canela/Canela-Regular-Trial.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Canela";
    src: url("/fonts/canela/Canela-Medium-Trial.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Canela";
    src: url("/fonts/canela/Canela-Bold-Trial.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  
/* ================================
   Suisse Int’l
   ================================ */

   @font-face {
    font-family: "Suisse Intl";
    src: url("/fonts/SuisseIntl/SuisseIntlTrial-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Suisse Intl";
    src: url("/fonts/SuisseIntl/SuisseIntlTrial-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Suisse Intl";
    src: url("/fonts/SuisseIntl/SuisseIntlTrial-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Suisse Intl";
    src: url("/fonts/SuisseIntl/SuisseIntlTrial-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  
  /* ================= GAMBARI NO (IDENTITY) ================= */
@font-face {
  font-family: "Gambarino";
  src: url("/fonts/gambarino/Gambarino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* ================= SWITZER (SYSTEM) ================= */

/* Light */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}